html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.clear {
  zoom: 1;
  /* For IE 6/7 */ }
  .clear:before, .clear:after {
    content: "";
    display: table; }
  .clear:after {
    clear: both; }

/****** Defining row classes to 
 ****** be able to properly hold
 ****** and manage columns.
 ******/
.row, .row-reverse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

/*** This reverse row class allows
 *** columns to break in the reverse
 *** order. 
 ***/
.row-reverse {
  flex-direction: row-reverse; }

.col {
  width: 100%; }

/****** Calculate the xs column sizes 
 ****** in standard css since they don't 
 ****** ever break.
 ******/
.xs-0 {
  display: none; }

.xs-1 {
  width: 8.33333%; }

.xs-2 {
  width: 16.66667%; }

.xs-3 {
  width: 25%; }

.xs-4 {
  width: 33.33333%; }

.xs-5 {
  width: 41.66667%; }

.xs-6 {
  width: 50%; }

.xs-7 {
  width: 58.33333%; }

.xs-8 {
  width: 66.66667%; }

.xs-9 {
  width: 75%; }

.xs-10 {
  width: 83.33333%; }

.xs-11 {
  width: 91.66667%; }

.xs-12 {
  width: 100%; }

/****** Calculate the other types of columns
 ****** in media queries so that we can freely
 ****** convert them by simply stacking them. 
 ******/
/*** Columns for sm ***/
@media only screen and (min-width: 450px) {
  .sm-0 {
    display: none; }

  .sm-1 {
    width: 8.33333%; }

  .sm-2 {
    width: 16.66667%; }

  .sm-3 {
    width: 25%; }

  .sm-4 {
    width: 33.33333%; }

  .sm-5 {
    width: 41.66667%; }

  .sm-6 {
    width: 50%; }

  .sm-7 {
    width: 58.33333%; }

  .sm-8 {
    width: 66.66667%; }

  .sm-9 {
    width: 75%; }

  .sm-10 {
    width: 83.33333%; }

  .sm-11 {
    width: 91.66667%; }

  .sm-12 {
    width: 100%; } }
/*** Columns for md ***/
@media only screen and (min-width: 768px) {
  .md-0 {
    display: none; }

  .md-1 {
    width: 8.33333%; }

  .md-2 {
    width: 16.66667%; }

  .md-3 {
    width: 25%; }

  .md-4 {
    width: 33.33333%; }

  .md-5 {
    width: 41.66667%; }

  .md-6 {
    width: 50%; }

  .md-7 {
    width: 58.33333%; }

  .md-8 {
    width: 66.66667%; }

  .md-9 {
    width: 75%; }

  .md-10 {
    width: 83.33333%; }

  .md-11 {
    width: 91.66667%; }

  .md-12 {
    width: 100%; } }
/*** Columns for lg ***/
@media only screen and (min-width: 960px) {
  .lg-0 {
    display: none; }

  .lg-1 {
    width: 8.33333%; }

  .lg-2 {
    width: 16.66667%; }

  .lg-3 {
    width: 25%; }

  .lg-4 {
    width: 33.33333%; }

  .lg-5 {
    width: 41.66667%; }

  .lg-6 {
    width: 50%; }

  .lg-7 {
    width: 58.33333%; }

  .lg-8 {
    width: 66.66667%; }

  .lg-9 {
    width: 75%; }

  .lg-10 {
    width: 83.33333%; }

  .lg-11 {
    width: 91.66667%; }

  .lg-12 {
    width: 100%; } }
/*** Columns for xl ***/
@media only screen and (min-width: 1140px) {
  .xl-0 {
    display: none; }

  .xl-1 {
    width: 8.33333%; }

  .xl-2 {
    width: 16.66667%; }

  .xl-3 {
    width: 25%; }

  .xl-4 {
    width: 33.33333%; }

  .xl-5 {
    width: 41.66667%; }

  .xl-6 {
    width: 50%; }

  .xl-7 {
    width: 58.33333%; }

  .xl-8 {
    width: 66.66667%; }

  .xl-9 {
    width: 75%; }

  .xl-10 {
    width: 83.33333%; }

  .xl-11 {
    width: 91.66667%; }

  .xl-12 {
    width: 100%; } }

/*# sourceMappingURL=gridsystem.css.map */
