
//Style the general column class.
.col {
    width: 100%;
}

// We generate a mixin which will generate the columns with a given prefix.
@mixin calculateColumns ($prefix) {

    .#{$prefix}-0 {
        display: none;
    }

    @for $n from 1 through $col_number {
        .#{$prefix}-#{$n} {
            width: ($n / $col_number * 100%);
        }
    } 
}

/****** Calculate the xs column sizes 
 ****** in standard css since they don't 
 ****** ever break.
 ******/
@include calculateColumns("xs");

/****** Calculate the other types of columns
 ****** in media queries so that we can freely
 ****** convert them by simply stacking them. 
 ******/
 @each $bp, $size in $col_breakpoints {
    /*** Columns for #{$bp} ***/
    @media only screen and (min-width: #{$size}) {
        @include calculateColumns($bp);
    }
 }


